body {
  background: yellow;
}

.container {
  padding: 15px 5px 10px;
}

.header {
  background: blue;
  padding: inherit;
  height: 150px;
  border: 2px solid #000;
}

.nav {
  background: green;
  padding: inherit;
  border: 2px solid #000;
}

.content {
  background: red;
  padding: inherit;
  height: 200px;
  border: 2px solid #000;
}

.aside {
  background: aqua;
  padding: inherit;
  height: 200px;
  border: 2px solid #000;
}

.promo {
  background: orange;
  padding: inherit;
  height: 150px;
  border: 2px solid #000;
}

.footer {
  background: #000;
  padding: inherit;
  color: #fff;
  border: 2px solid #000;
}

@media screen and (max-width: 768px) {
  .header, .nav, .content, .aside, .promo, .footer {
    background: purple;
  }
  body {
    background: white;
    }
}

@media screen and (max-width: 375px) {
  .header, .nav, .content, .aside, .promo, .footer {
    background: pink;
  }
  body {
    background: black;
    }
}
